.button {
  width: max-content;
  color: var(--main-color);
  padding: 0.6rem 1rem;
  outline: 0;
  border: 0;
  border-radius: 0.5rem;
  font-weight: 500;
  cursor: pointer;
  height: 2.5rem;
}

.fill {
  background-color: var(--main-color);
  color: white;
}

.nofill {
  background-color: white;
  box-shadow: 0px 0px 0px 2px var(--main-gray) inset;
  @media screen and (max-width: 1000px) {
    box-shadow: 0px 0px 0px 1px var(--main-gray) inset;
  }
}
