.filter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
  background-color: white;
  padding: 0.4rem 1rem;
  border-radius: 1rem;
  font-size: 0.9rem;
  flex-wrap: wrap;

  .box {
    margin: 0.1rem;
    border-right: 2px solid var(--light-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .btn {
    border: 0;
  }
  h4 {
    padding: 0 1rem;
    font-weight: 500;
    color: gray;
  }
  @media screen and (max-width: 1450px) {
    .type {
      border: 0;
    }
    .btn {
      width: 100%;
      margin-top: 1rem;
    }
  }

  @media screen and (max-width: 1250px) {
  }
  @media screen and (max-width: 1000px) {
    flex-direction: column;
    .box {
      margin: 0.5rem;
      padding-bottom: 0.5rem;
      border-bottom: 2px solid var(--light-gray);
      border-right: 0;
    }

    .btn {
      border: 0;
    }
  }
}
