.rent {
  padding: 2rem 9rem;
  margin: 1rem;

  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    padding: 0 1rem 0 2rem;
  }
  .container {
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: space-between;
  }
  @media screen and (max-width: 1450px) {
    padding: 1rem 7rem;
  }

  @media screen and (max-width: 1250px) {
    padding: 1rem 4rem;
    .container {
      justify-content: space-evenly;
    }
  }
  @media screen and (max-width: 1000px) {
    padding: 1rem;
    .container {
      justify-content: center;
    }
    .heading {
      flex-direction: column;
      justify-content: center;
      align-items: unset;
      h2 {
        padding: 0 1rem;
        margin-bottom: 1rem;
      }
    }
  }
}
