.navbar {
  height: 12vh;
  display: flex;
  padding: 0 5rem;
  background-color: white;
  border-bottom: 2px solid var(--light-gray);
  .logoContainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    height: 100%;
    margin-right: 5rem;
    .logo {
      height: 2rem;
    }
    h1 {
      font-size: 1.5rem;
    }
  }

  .menu-icon {
    height: 2rem;
    padding: 0.4rem;
    display: none;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .menu {
      display: flex;
      align-items: center;
      list-style-type: none;
      li {
        margin: 0 1rem;
        display: flex;
        align-items: center;
        padding: 0.4rem 1rem;
        font-weight: 500;
        cursor: pointer;

        &:hover {
          background-color: var(--light-gray);
          color: var(--main-color);

          .icon {
            transform: rotate(-180deg);
          }
        }

        .icon {
          width: 0.8rem;
          margin-left: 0.5rem;
          transition: all 0.5s;
        }
      }
    }

    .buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }
  }
  @media screen and (max-width: 1250px) {
    height: 12vh;

    padding: 0 4rem;
    .logoContainer {
      margin-right: 3rem;
      justify-content: center;
      height: 12vh;
    }
    .nav {
      .menu {
        li {
          margin: 0 0.4rem;
          padding: 0.4rem 0.4rem;
        }
      }
    }
  }
  @media screen and (max-width: 1000px) {
    position: relative;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    z-index: 99;
    border: none;
    box-shadow: 0 0 5px #cecece;

    .menu-icon {
      display: unset;
    }

    .logoContainer {
      .logo {
        width: 1.5rem;
      }
    }
    .nav {
      overflow: hidden;
      // border-top: 2px solid var(--light-gray);
      // border-bottom: 2px solid var(--light-gray);
      box-shadow: inset 0px 5px 5px -5px #cecece, 0px 5px 5px -5px #cecece;

      padding-bottom: 1rem;

      background-color: white;
      top: 100%;
      left: 0;
      position: absolute;
      flex-direction: column;
      height: 15rem;
      transition: all 0.5s;
      justify-content: unset;
      .menu {
        margin-bottom: 1rem;
        flex-direction: column;
        li {
          height: 2rem;
        }
      }

      .buttons {
        .btn {
          height: 2rem;
        }
      }
    }

    .hideMenu {
      height: 0;
      padding: 0;
    }
  }
}
